.fixed .column-visitors {
	width: 14%;
}

.fixed .column-events {
	width: 12%;
}

.fixed .column-conv {
	width: 15%;
}

.aligncenter {
	text-align: center;
}

.column-primary .spinner {
	float: none;
	margin: 0;
	visibility: visible;
}

p.search-box {
	float: none;
	margin: 1em 0;
}

.search-box input[name="s"] {
	min-width: 25%
}

p.search-box + p.description {
	margin: 0;
}
